body {
  background: white;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 1.6px;
}

a {
  color: black;
  transition: 0.3s ease;
}

a:hover {
  text-decoration: none;
  color: #4BB2F2;
}

h1 {
  font-family: 'butlerregular', 'Playfair Display', serif;
  font-size: 72px;
  letter-spacing: -1.6px;
  line-height: 72px;
  margin: 0 0 16px 0;
}

p {
  margin: 0 0 8px 0;
  font-size: 16px;
}

@font-face {
    font-family: 'butlerregular';
    src: url('css/fonts/butler_regular-webfont.eot');
    src: url('css/fonts/butler_regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('css/fonts/butler_regular-webfont.woff2') format('woff2'),
         url('css/fonts/butler_regular-webfont.woff') format('woff'),
         url('css/fonts/butler_regular-webfont.ttf') format('truetype'),
         url('css/fonts/butler_regular-webfont.svg#butlerregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

.landing-info {
  vertical-align: middle;
}

.nameandphoto {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.name {
  margin-right: 16px;
  font-weight: bolder;
}

.headshot-avatar {
  border-radius: 50%;
  height: 60px;
  width: 60px;
}

.container {
  max-width: 927px;
  margin: auto;
  padding: 0;
}

.header {
  text-align: right;
  padding: 12px;
  border-bottom: 0.5px solid rgb(220, 220, 220)
}

.contact-info {
  text-align: right;
}

.contactme {
  font-size: 20px;
}

.headerlinks {
  font-size: 16px;
  margin: 0 0 0 14px;
}

.fab {
  font-size: 32px;
  margin: 0 0 0 24px;
}


@media (max-width: 1024px) and (min-width: 768px) {
  .container {
    max-width: 750px
  }

  h1{
    font-size: 72px;
  }
}

@media (max-width: 767px) and (min-width: 426px){
  .container {
    padding: 0 12% !important;
  }

  h1 {
     font-size: 60px;
     line-height: 60px;
  }

  .headshot-avatar {
    border-radius: 50%;
    height: 48px;
    width: 48px;
  }

  .contactme {
  font-size: 16px;
  }

  .headerlinks {
    font-size: 12px;
    margin: 0 0 0 8px;
  }

  p {
    font-size: 12px;
  }

  .fab {
  font-size: 28px;
  margin: 0 0 0 16px;
  }
}

@media (max-width: 426px) {
  .container {
    padding: 0 10%;
  }

  h1 {
    font-size: 48px;
    line-height: 48px;
  }

  .headshot-avatar {
    border-radius: 50%;
    height: 40px;
    width: 40px;
  }

  .headerlinks {
    font-size: 10px;
    margin: 0 0 0 4px;
  }

  p {
    font-size: 10px;
  }

  .contactme {
  font-size: 14px;
  }

  .fab {
  font-size: 24px;
  margin: 0 0 0 8px;
  }
}
